 <!-- <ul>
   <li>User Name | User Id</li>
   <li *ngFor="let data of collection | paginate:{itemsPerPage: 5, currentPage:k}">{{data.Name}} | {{data.Id}}</li>
   <pagination-controls (pageChange)="k = $event "></pagination-controls>
 </ul> -->
 <div class="container-fluid">
  <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Issue</th>
        <th scope="col">CurrentState</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of data | paginate:{itemsPerPage: 3, currentPage:p}">
        <td>{{data.Title}}</td>
        <td>{{data.Issue}}</td>
        <td>{{data.CurrentState}}</td>
        <td>{{data.Date}}</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls class="text-center" (pageChange)="p= $event "></pagination-controls>
</div>



